/** @format */

.footer {
	min-height: 25rem;
	color: #4b4b4d;
	background: #e8e8e8;
	position: relative;
	box-shadow: inset 0px 3px 6px #8a555529;
}

.footer .footer-head {
	padding: 2rem 5%;
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	background: transparent;
	/* background: url("../../img/Component.svg") no-repeat center center/cover; */
	border-bottom: 0.2px solid #d8d8d8;
	flex-wrap: wrap;

	width: 100%;
	max-width: var(--max-width);
	overflow: hidden;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.footer .footer-head {
		padding-top: 7rem;
	}
}

@media (max-width: 568px) {
	.footer .footer-head {
		flex-direction: column;
	}

	.footer .logo {
		margin-bottom: 2rem;
	}

	.hide-ms {
		display: none;
	}
}

.footer .logo {
	width: 284px;
	max-height: 20rem;
	height: 49px;
}

.footer .logo img {
	object-fit: contain;
	display: block;
}

@media (max-width: 368px) {
	.footer .logo {
		display: none;
	}
}

.footer .nav a {
	display: flex;
	padding: 1rem;
	color: #4b4b4d;
	font-weight: bold;
}

.footer .nav {
	display: flex;
	flex-direction: column;
	width: 150px;
}

.footer .social-media p,
.footer .contacts p span {
	font-weight: bold;
}

.footer .social-media p,
.footer .contacts p {
	padding: 1rem;
	color: #4b4b4d;
}

.footer .social-media .icon {
	cursor: pointer;
	margin-left: 0.5rem;
	font-size: 2rem;
}

.footer .footer-bottom {
	padding: 2rem 5%;
	padding-bottom: 4rem;
	min-height: 2rem;
	/* background: url("../../img/Component.svg") no-repeat center center/cover; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.2rem;

	width: 100%;
	max-width: var(--max-width);
	overflow: hidden;
	margin: 0 auto;
}

@media (max-width: 568px) {
	.footer .footer-bottom {
		font-size: 1rem;
	}

	.footer .social-media .icon {
		cursor: pointer;
		margin-left: 1.2rem;
		font-size: 2rem;
	}
}
