/** @format */

.header {
	background-color: #f8fbfe;
	box-shadow: 10px 15px 15px #00000029;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 100;
	position: fixed;
}

.header .container {
	background-color: #f8fbfe;
	display: flex;
	gap: 2rem;
	padding: 0 5%;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--max-width);
	overflow: hidden;
	margin: 0 auto;
	height: 5.625rem;
}

.logo {
	width: 15.625rem;
	height: 3.125rem;
	min-width: 15.625rem;
	min-height: 3.125rem;
	display: flex;
	align-items: center;
}

@media (max-width: 568px) {
	.logo {
		width: 12.625rem;
		height: 2.125rem;
		min-width: 12.625rem;
		min-height: 2.125rem;
	}
}

.logo img {
	display: block;
}

.nav {
	height: 100%;
}

.nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav li {
	margin-left: 2.5rem;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	min-height: 100%;
}

.nav a {
	min-width: 5.8755rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	text-decoration: none;
	color: #4b4b4d;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

nav a.worklink {
	padding: 0 0.8rem;
}

.nav a:hover,
.nav a#active {
	background: #e8e8e8;
}

@media (max-width: 768px) {
	.nav .contact {
		display: none;
	}

	.nav li {
		margin-left: 1rem;
		font-size: 1.1rem;
		min-height: 100%;
	}
}

/* Side Menu */

.customMenu {
	display: none;
	cursor: pointer;
}

@media (max-width: 568px) {
	.nav.showNav {
		display: none;
	}

	.logo img {
		width: 8.25rem;
		height: 3.125rem;
	}

	.customMenu {
		display: block;
	}
}

.side-nav {
	z-index: 203;
	position: fixed;
	top: 0;
	right: 0;
	min-height: 100vh;
	min-width: 15.75rem;
	width: 15.75rem;
	padding: 1.2rem;
	background-color: #f8fbfe;
	border-radius: 6px;
	transition: transform 0.3s;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}

.side-nav li {
	list-style-type: none;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-nav a {
	font-size: 1.1;
	color: #4b4b4d;
	cursor: pointer;
}

/* Set options to normal weight */
.select option {
	font-weight: normal;
	color: var(--dark-Gray) !important;
}

/* Reset Select */
.header select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
	flex: 1;
	cursor: pointer;
	line-height: 1.3;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	display: block;
	font: inherit;
	background: transparent;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	display: block;
	height: 2.8rem;
	min-width: 105px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #4b4b4d;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.header select:hover {
	border: 0.4px solid rgb(59, 153, 252);
}
